<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supinfo.supcrowdfunder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.supinfo.supcrowdfunder.IndexActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.supinfo.supcrowdfunder.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.supinfo.supcrowdfunder.ProjectDetailsActivity"
            android:label="@string/title_activity_project_details" >
        </activity>
        <activity
            android:name="com.supinfo.supcrowdfunder.ContributeActivity"
            android:label="@string/title_activity_contribute" >
        </activity>
        <activity
            android:name="com.supinfo.supcrowdfunder.ProfilActivity"
            android:label="@string/title_activity_profil" >
        </activity>
        <activity
            android:name="com.supinfo.supcrowdfunder.AddProjectActivity"
            android:label="@string/title_activity_add_project" >
        </activity>
        <activity
            android:name="com.supinfo.supcrowdfunder.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
